h1 タスク編集
= link_to '一覧', tasks_path, class: 'ui right floated primary button'

= render partial: 'form', locals: { task: @task }

= link_to '削除する', task_path(@task), method: :delete, class: 'ui negative button', data: { confirm: '削除しても良いですか?' }
