@import 'semantic-ui';
@import 'iro';

.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.ui.fixed.inverted.menu {
  background: lighten($ayameiro, 30%);
}

.ui.vertical.footer.segment {
  background: lighten($ayameiro, 30%);
  padding: 2rem 0;
}

.debug_dump {
  background: $sakurairo;
  padding: 2rem;
  border-radius: 1rem;
}
